CompileFlags:
  Add:
    [
      -Wall,
      -Wextra,
      -Werror,
      -Wpedantic,
      -Wshadow,
      -Wdocumentation,
      -std=c99,
      --language=c,
      -Ilib,
    ]
  Compiler: clang

Diagnostics:
  ClangTidy:
    Add:
      [
        "bugprone-*",
        "cert-*",
        "clang-analyzer-*",
        "misc-*",
        "performance-*",
        "readability-*",
      ]
    Remove: [
        bugprone-easily-swappable-parameters,
        misc-use-anonymous-namespace,
        readability-identifier-length,
        cert-dcl37-c, # alias
        cert-exp42-c, # alias
        cert-oop54-cpp, # alias
        cppcoreguidelines-avoid-magic-numbers, # alias
        cppcoreguidelines-c-copy-assignment-signature, # alias
        cppcoreguidelines-non-private-member-variables-in-classes, # alias
        hicpp-avoid-goto, # alias
        hicpp-braces-around-statements, # alias
        hicpp-deprecated-headers, # alias
        hicpp-explicit-conversions, # alias
        hicpp-member-init, # alias
        hicpp-no-array-decay, # alias
        hicpp-no-malloc, # alias
        hicpp-special-member-functions, # alias
        hicpp-uppercase-literal-suffix, # alias
        hicpp-use-auto, # alias
        hicpp-use-equals-delete, # alias
        hicpp-use-nullptr, # alias
      ]
    CheckOptions:
      bugprone-empty-catch.IgnoreCatchWithKeywords: "EMPTY: "
      modernize-deprecated-headers.CheckHeaderFile: true
      readability-implicit-bool-conversion.AllowPointerConditions: true
      readability-magic-numbers.IgnoredIntegerValues: "1;2;3;4;10;42"
      readability-magic-numbers.IgnorePowersOf2IntegerValues: Yes
      readability-magic-numbers.IgnoredFloatingPointValues: "0.1"
    FastCheckFilter: None
  MissingIncludes: Strict

InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
