# Own excluded stuff
lokal_test_Ci0-libft
Ci0-libft/tmp_build/
Ci0-libft/.cache/
Ci2-fractol/fractol_O3
Ci2-push_swap/checker_linux
Ci2-push_swap/manual_test_push_swap
Ci2-push_swap/push_swap_visualizer/
Ci2-push_swap/small_permutations.sh
Ci2-push_swap/tests/
OTHERS 

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
